.chart {
  max-width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-alpha2);
  border: 1px dashed var(--color-alpha3);
}

.highcharts-background {
  fill: none;
}

.highcharts-color-0 {
  fill: var(--chart-color-alpha);
}

.highcharts-color-1 {
  fill: var(--chart-color-beta);
}

.highcharts-color-2 {
  fill: var(--chart-color-gamma);
}

.highcharts-color-3 {
  fill: var(--chart-color-delta);
}

[class*="highcharts-color-"] {

  &:not([class*="highcharts-legend-item-hidden"]) {
    rect[fill] {
      fill: inherit;
    }
  }
}

.highcharts-point {
  stroke: var(--color-beta);
}

.highcharts-xaxis {
  .highcharts-axis-line {
    stroke: var(--color-beta);
  }
}

.highcharts-xaxis-labels {
  text {
    color: var(--color-beta) !important;
    fill: var(--color-beta) !important;
  }
}

// highcharts-legend-item highcharts-bar-series highcharts-color-2 highcharts-series-2
// highcharts-legend-item highcharts-bar-series highcharts-color-2 highcharts-series-2
