table {
  margin-top: 1.5em;
  margin-bottom: 2em;
  border-collapse: collapse;
  border: 1px dashed var(--color-alpha3);
  min-width: 100%;

  .tar {
    text-align: right;
  }
}

tr {
  &:nth-child(even) {
    background-color: var(--color-beta2);
  }

  &:hover {
    background-color: var(--color-beta3);
  }
}

th,
td {
  font-family: var(--ff-alpha);
  border: 1px dashed var(--color-alpha3);
  padding: .25em .5rem;
  vertical-align: baseline;

  .small & {
    font-size: 85%;
  }
}

th {
  font-weight: 500;
  font-size: .875rem;
  text-align: left;
}
