/*
Fonts

Markup: typography.html

Style guide: Fonts
*/

::selection {
  background-color: var(--color-alpha3);
}

html {
  font-size: var(--fz-alpha);
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: $mq-alpha) {
    font-size: var(--fz-beta);
  }
}

body {
  font-family: var(--system-font);
  line-height: 1.6;
  letter-spacing: .02em;
  color: var(--color-beta);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-alpha);
  font-weight: 500;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin-bottom: .5em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h5,
p {
  font-size: 1rem;
}

pre {
  color: var(--color-alpha4);
  border: 1px dashed var(--color-alpha3);
  display: block;
  min-width: 100%;

  .report > & {
    max-width: 60ch;
    overflow-x: auto;
  }

  code {
    display: block;
    min-width: calc(100% - 2rem - 2px);
    padding: 1rem;
    font-size: .8333rem;
    letter-spacing: -0.0075em;
  }
}

li,
p {
  code {
    font-size: 90%;
    background-color: var(--color-alpha2);
    border: 1px dashed var(--color-alpha3);
    padding-left: .25em;
    padding-right: .25em;
  }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px dashed var(--color-alpha3);
}

.highlight {
  color: var(--color-beta4);
}
