<nav class="nav">
  <ul>
    <li>
      <a href="/">
        <img src="/gfx/css-auditors-logo.svg" alt="CSS Auditors">
      </a>
    </li>
    <li>
      <a href="/blog/">Articles</a>
    </li>
    <li>
      <a href="#the-mission">The Mission</a>
    </li>
    <li>
      <a class="active" href="#reports">Reports</a>
    </li>
    <li>
      <a href="#subscribe">Subscribe</a>
    </li>
    <li>
      <a href="#contact">Contact</a>
    </li>
    <li>
      <a href="#about">About Us</a>
    </li>
  </ul>
</nav>
