html {
  line-height: 1.15
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=submit],
button {
  -webkit-appearance: button
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
details {
  display: block
}
summary {
  display: list-item
}
[hidden],
template {
  display: none
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0
}
button {
  background-color: transparent;
  background-image: none
}
button:focus {
  outline: -webkit-focus-ring-color auto 5px
}
fieldset,
ol,
ul {
  margin: 0;
  padding: 0
}
ol,
ul {
  list-style: none
}
html {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",sans-serif,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5
}
*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #e2e8f0
}
hr {
  border-top-width: 1px
}
img {
  border-style: solid
}
textarea {
  resize: vertical
}
input::placeholder,
textarea::placeholder {
  color: #a0aec0
}
[role=button],
button {
  cursor: pointer
}
table {
  border-collapse: collapse
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}
a {
  color: inherit;
  text-decoration: inherit
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit
}
code,
kbd,
pre,
samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}
img,
video {
  max-width: 100%;
  height: auto
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}
@media (min-width:640px) {
  .container {
    max-width: 640px
  }
}
@media (min-width:768px) {
  .container {
    max-width: 768px
  }
}
@media (min-width:1024px) {
  .container {
    max-width: 1024px
  }
}
@media (min-width:1280px) {
  .container {
    max-width: 1280px
  }
}
.o-link {
  color: #1d70b8;
  text-decoration: underline
}
.o-link:visited {
  color: #4c2c92
}
.o-link:active,
.o-link:hover {
  color: #003078
}
.appearance-none {
  -webkit-appearance: none
}
.bg-transparent {
  background-color: transparent
}
.bg-black {
  --bg-opacity: 1;
  background-color: rgba(0,0,0,var(--bg-opacity))
}
.bg-white {
  --bg-opacity: 1;
  background-color: rgba(255,255,255,var(--bg-opacity))
}
.bg-positive-light {
  --bg-opacity: 1;
  background-color: rgba(219,247,224,var(--bg-opacity))
}
.bg-negative-light {
  --bg-opacity: 1;
  background-color: rgba(255,209,207,var(--bg-opacity))
}
.bg-mono-100 {
  --bg-opacity: 1;
  background-color: rgba(242,242,242,var(--bg-opacity))
}
.bg-mono-300 {
  --bg-opacity: 1;
  background-color: rgba(216,216,216,var(--bg-opacity))
}
.bg-mono-500 {
  --bg-opacity: 1;
  background-color: rgba(140,140,140,var(--bg-opacity))
}
.bg-mono-700 {
  --bg-opacity: 1;
  background-color: rgba(64,64,64,var(--bg-opacity))
}
.bg-mono-900 {
  --bg-opacity: 1;
  background-color: rgba(13,13,13,var(--bg-opacity))
}
.bg-primary-lighter {
  --bg-opacity: 1;
  background-color: rgba(237,226,231,var(--bg-opacity))
}
.bg-primary {
  --bg-opacity: 1;
  background-color: rgba(129,32,76,var(--bg-opacity))
}
.bg-primary-dark {
  --bg-opacity: 1;
  background-color: rgba(80,0,36,var(--bg-opacity))
}
.bg-secondary-lighter {
  --bg-opacity: 1;
  background-color: rgba(239,246,249,var(--bg-opacity))
}
.bg-secondary-light {
  --bg-opacity: 1;
  background-color: rgba(196,229,246,var(--bg-opacity))
}
.bg-secondary {
  --bg-opacity: 1;
  background-color: rgba(143,210,244,var(--bg-opacity))
}
.bg-secondary-dark {
  --bg-opacity: 1;
  background-color: rgba(92,161,193,var(--bg-opacity))
}
.hover\:bg-mono-100:hover {
  --bg-opacity: 1;
  background-color: rgba(242,242,242,var(--bg-opacity))
}
.hover\:bg-mono-300:hover {
  --bg-opacity: 1;
  background-color: rgba(216,216,216,var(--bg-opacity))
}
.hover\:bg-primary-lighter:hover {
  --bg-opacity: 1;
  background-color: rgba(237,226,231,var(--bg-opacity))
}
.hover\:bg-primary-dark:hover {
  --bg-opacity: 1;
  background-color: rgba(80,0,36,var(--bg-opacity))
}
.hover\:bg-secondary-dark:hover {
  --bg-opacity: 1;
  background-color: rgba(92,161,193,var(--bg-opacity))
}
.focus\:bg-mono-300:focus {
  --bg-opacity: 1;
  background-color: rgba(216,216,216,var(--bg-opacity))
}
.focus\:bg-primary-lighter:focus {
  --bg-opacity: 1;
  background-color: rgba(237,226,231,var(--bg-opacity))
}
.focus\:bg-primary-dark:focus {
  --bg-opacity: 1;
  background-color: rgba(80,0,36,var(--bg-opacity))
}
.focus\:bg-secondary-dark:focus {
  --bg-opacity: 1;
  background-color: rgba(92,161,193,var(--bg-opacity))
}
.bg-opacity-50 {
  --bg-opacity: 0.5
}
.bg-opacity-90 {
  --bg-opacity: 0.9
}
.bg-center {
  background-position: 50% center
}
.bg-left-bottom {
  background-position: 0 100%
}
.bg-right {
  background-position: 100% center
}
.bg-right-bottom {
  background-position: 100% 100%
}
.bg-top {
  background-position: center top
}
.bg-no-repeat {
  background-repeat: no-repeat
}
.bg-auto {
  background-size: auto
}
.bg-cover {
  background-size: cover
}
.bg-contain {
  background-size: contain
}
.border-transparent {
  border-color: transparent
}
.border-black {
  --border-opacity: 1;
  border-color: rgba(0,0,0,var(--border-opacity))
}
.border-white {
  --border-opacity: 1;
  border-color: rgba(255,255,255,var(--border-opacity))
}
.border-positive-dark {
  --border-opacity: 1;
  border-color: rgba(11,92,5,var(--border-opacity))
}
.border-negative-dark {
  --border-opacity: 1;
  border-color: rgba(138,7,0,var(--border-opacity))
}
.border-warning {
  --border-opacity: 1;
  border-color: rgba(228,153,1,var(--border-opacity))
}
.border-mono-300 {
  --border-opacity: 1;
  border-color: rgba(216,216,216,var(--border-opacity))
}
.border-mono-700 {
  --border-opacity: 1;
  border-color: rgba(64,64,64,var(--border-opacity))
}
.border-mono-900 {
  --border-opacity: 1;
  border-color: rgba(13,13,13,var(--border-opacity))
}
.border-primary-light {
  --border-opacity: 1;
  border-color: rgba(180,80,120,var(--border-opacity))
}
.border-primary {
  --border-opacity: 1;
  border-color: rgba(129,32,76,var(--border-opacity))
}
.border-primary-dark {
  --border-opacity: 1;
  border-color: rgba(80,0,36,var(--border-opacity))
}
.border-secondary-light {
  --border-opacity: 1;
  border-color: rgba(196,229,246,var(--border-opacity))
}
.border-secondary {
  --border-opacity: 1;
  border-color: rgba(143,210,244,var(--border-opacity))
}
.border-secondary-dark {
  --border-opacity: 1;
  border-color: rgba(92,161,193,var(--border-opacity))
}
.hover\:border-primary-dark:hover {
  --border-opacity: 1;
  border-color: rgba(80,0,36,var(--border-opacity))
}
.hover\:border-secondary-dark:hover {
  --border-opacity: 1;
  border-color: rgba(92,161,193,var(--border-opacity))
}
.focus\:border-primary-dark:focus {
  --border-opacity: 1;
  border-color: rgba(80,0,36,var(--border-opacity))
}
.focus\:border-secondary-dark:focus {
  --border-opacity: 1;
  border-color: rgba(92,161,193,var(--border-opacity))
}
.rounded-none {
  border-radius: 0px
}
.rounded {
  border-radius: 0.25rem
}
.rounded-full {
  border-radius: 9999px
}
.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem
}
.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem
}
.rounded-r-full {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px
}
.rounded-l-full {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px
}
.border-solid {
  border-style: solid
}
.border-none {
  border-style: none
}
.border-2 {
  border-width: 2px
}
.border {
  border-width: 1px
}
.border-t-2 {
  border-top-width: 2px
}
.border-r-2 {
  border-right-width: 2px
}
.border-b-2 {
  border-bottom-width: 2px
}
.border-l-2 {
  border-left-width: 2px
}
.border-t-4 {
  border-top-width: 4px
}
.border-b-4 {
  border-bottom-width: 4px
}
.border-r-8 {
  border-right-width: 8px
}
.border-b-8 {
  border-bottom-width: 8px
}
.border-l-8 {
  border-left-width: 8px
}
.border-t {
  border-top-width: 1px
}
.border-r {
  border-right-width: 1px
}
.border-b {
  border-bottom-width: 1px
}
.border-l {
  border-left-width: 1px
}
.cursor-auto {
  cursor: auto
}
.cursor-pointer {
  cursor: pointer
}
.cursor-not-allowed {
  cursor: not-allowed
}
.block {
  display: block
}
.inline-block {
  display: inline-block
}
.inline {
  display: inline
}
.flex {
  display: flex
}
.table {
  display: table
}
.grid {
  display: grid
}
.hidden {
  display: none
}
.flex-row {
  flex-direction: row
}
.flex-row-reverse {
  flex-direction: row-reverse
}
.flex-col {
  flex-direction: column
}
.flex-col-reverse {
  flex-direction: column-reverse
}
.flex-wrap {
  flex-wrap: wrap
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse
}
.items-start {
  align-items: flex-start
}
.items-end {
  align-items: flex-end
}
.items-center {
  align-items: center
}
.self-center {
  align-self: center
}
.justify-start {
  justify-content: flex-start
}
.justify-end {
  justify-content: flex-end
}
.justify-center {
  justify-content: center
}
.justify-between {
  justify-content: space-between
}
.flex-1 {
  flex: 1 1 0%
}
.flex-none {
  flex: 0 0 auto
}
.flex-grow {
  flex-grow: 1
}
.flex-shrink-0 {
  flex-shrink: 0
}
.float-right {
  float: right
}
.font-bold,
.font-step-2 {
  font-weight: 700
}
.font-step-3 {
  font-weight: 900
}
.h-2 {
  height: 0.5rem
}
.h-3 {
  height: 0.75rem
}
.h-4 {
  height: 1rem
}
.h-5 {
  height: 1.25rem
}
.h-6 {
  height: 1.5rem
}
.h-8 {
  height: 2rem
}
.h-9 {
  height: 2.25rem
}
.h-10 {
  height: 2.5rem
}
.h-12 {
  height: 3rem
}
.h-14 {
  height: 3.5rem
}
.h-16 {
  height: 4rem
}
.h-20 {
  height: 5rem
}
.h-64 {
  height: 16rem
}
.h-100 {
  height: 25rem
}
.h-132 {
  height: 33rem
}
.h-auto {
  height: auto
}
.h-full {
  height: 100%
}
.leading-3 {
  line-height: .75rem
}
.leading-6 {
  line-height: 1.5rem
}
.leading-none {
  line-height: 1
}
.leading-tight {
  line-height: 1.25
}
.list-inside {
  list-style-position: inside
}
.list-disc {
  list-style-type: disc
}
.m-1 {
  margin: .25rem
}
.m-2 {
  margin: .5rem
}
.m-3 {
  margin: .75rem
}
.m-auto {
  margin: auto
}
.mx-1 {
  margin-left: .25rem;
  margin-right: .25rem
}
.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem
}
.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem
}
.my-3 {
  margin-top: .75rem;
  margin-bottom: .75rem
}
.mx-3 {
  margin-left: .75rem;
  margin-right: .75rem
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem
}
.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem
}
.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem
}
.mx-16 {
  margin-left: 4rem;
  margin-right: 4rem
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto
}
.mx-auto {
  margin-left: auto;
  margin-right: auto
}
.-mx-1 {
  margin-left: -.25rem;
  margin-right: -.25rem
}
.-mx-2 {
  margin-left: -.5rem;
  margin-right: -.5rem
}
.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem
}
.-mx-8 {
  margin-left: -2rem;
  margin-right: -2rem
}
.-mx-20 {
  margin-left: -5rem;
  margin-right: -5rem
}
.mt-1 {
  margin-top: .25rem
}
.mr-1 {
  margin-right: .25rem
}
.mb-1 {
  margin-bottom: .25rem
}
.ml-1 {
  margin-left: .25rem
}
.mt-2 {
  margin-top: .5rem
}
.mr-2 {
  margin-right: .5rem
}
.mb-2 {
  margin-bottom: .5rem
}
.ml-2 {
  margin-left: .5rem
}
.mr-3 {
  margin-right: .75rem
}
.mb-3 {
  margin-bottom: .75rem
}
.ml-3 {
  margin-left: .75rem
}
.mt-4 {
  margin-top: 1rem
}
.mr-4 {
  margin-right: 1rem
}
.mb-4 {
  margin-bottom: 1rem
}
.ml-4 {
  margin-left: 1rem
}
.mb-5 {
  margin-bottom: 1.25rem
}
.mt-6 {
  margin-top: 1.5rem
}
.mr-6 {
  margin-right: 1.5rem
}
.mb-6 {
  margin-bottom: 1.5rem
}
.mt-8 {
  margin-top: 2rem
}
.mb-8 {
  margin-bottom: 2rem
}
.mr-10 {
  margin-right: 2.5rem
}
.mb-10 {
  margin-bottom: 2.5rem
}
.mb-12 {
  margin-bottom: 3rem
}
.mt-16 {
  margin-top: 4rem
}
.mb-16 {
  margin-bottom: 4rem
}
.mt-auto {
  margin-top: auto
}
.mr-auto {
  margin-right: auto
}
.ml-auto {
  margin-left: auto
}
.mr-px {
  margin-right: 1px
}
.mr-2px {
  margin-right: .125rem
}
.-mt-8 {
  margin-top: -2rem
}
.-mt-24 {
  margin-top: -6rem
}
.-mt-40 {
  margin-top: -10rem
}
.max-w-25 {
  max-width: 6.25rem
}
.max-w-4xl {
  max-width: 56rem
}
.max-w-screen-lg {
  max-width: 1024px
}
.min-h-32 {
  min-height: 8rem
}
.min-h-screen {
  min-height: 100vh
}
.object-contain {
  object-fit: contain
}
.opacity-25 {
  opacity: .25
}
.opacity-50 {
  opacity: .5
}
.opacity-100 {
  opacity: 1
}
.focus\:outline-none:focus {
  outline: transparent solid 2px;
  outline-offset: 2px
}
.overflow-hidden {
  overflow: hidden
}
.overflow-visible {
  overflow: visible
}
.overflow-x-auto {
  overflow-x: auto
}
.overflow-y-auto {
  overflow-y: auto
}
.overflow-x-hidden {
  overflow-x: hidden
}
.p-1 {
  padding: .25rem
}
.p-2 {
  padding: .5rem
}
.p-3 {
  padding: .75rem
}
.p-4 {
  padding: 1rem
}
.p-8 {
  padding: 2rem
}
.p-2px {
  padding: .125rem
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}
.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem
}
.px-20 {
  padding-left: 5rem;
  padding-right: 5rem
}
.pb-0 {
  padding-bottom: 0px
}
.pt-1 {
  padding-top: 0.25rem
}
.pb-1 {
  padding-bottom: 0.25rem
}
.pt-2 {
  padding-top: 0.5rem
}
.pb-2 {
  padding-bottom: 0.5rem
}
.pl-2 {
  padding-left: 0.5rem
}
.pr-3 {
  padding-right: 0.75rem
}
.pb-3 {
  padding-bottom: 0.75rem
}
.pl-3 {
  padding-left: 0.75rem
}
.pt-4 {
  padding-top: 1rem
}
.pr-4 {
  padding-right: 1rem
}
.pb-4 {
  padding-bottom: 1rem
}
.pl-4 {
  padding-left: 1rem
}
.pb-6 {
  padding-bottom: 1.5rem
}
.pl-6 {
  padding-left: 1.5rem
}
.pt-8 {
  padding-top: 2rem
}
.pb-8 {
  padding-bottom: 2rem
}
.pr-10 {
  padding-right: 2.5rem
}
.pb-10 {
  padding-bottom: 2.5rem
}
.pt-12 {
  padding-top: 3rem
}
.pr-12 {
  padding-right: 3rem
}
.pt-16 {
  padding-top: 4rem
}
.pt-24 {
  padding-top: 6rem
}
.placeholder-mono-300::placeholder {
  --placeholder-opacity: 1;
  color: rgba(216,216,216,var(--placeholder-opacity))
}
.pointer-events-none {
  pointer-events: none
}
.pointer-events-auto {
  pointer-events: auto
}
.fixed {
  position: fixed
}
.absolute {
  position: absolute
}
.relative {
  position: relative
}
.sticky {
  position: sticky
}
.inset-0 {
  right: 0;
  left: 0
}
.inset-0,
.inset-y-0 {
  top: 0;
  bottom: 0
}
.inset-x-0 {
  right: 0;
  left: 0
}
.top-0 {
  top: 0
}
.right-0 {
  right: 0
}
.bottom-0 {
  bottom: 0
}
.left-0 {
  left: 0
}
.top-12 {
  top: 3rem
}
.top-16 {
  top: 4rem
}
.top-32 {
  top: 8rem
}
.-top-6 {
  top: -1.5rem
}
.shadow-50 {
  box-shadow: rgba(155,155,155,.5) 0 6px 12px 0
}
.shadow {
  box-shadow: rgba(0,0,0,.1) 0 1px 3px 0,rgba(0,0,0,.06) 0 1px 2px 0
}
.shadow-none {
  box-shadow: none
}
.shadow-black-20 {
  box-shadow: rgba(0,0,0,.2) 0 6px 12px 0
}
.text-left {
  text-align: left
}
.text-center {
  text-align: center
}
.text-black {
  --text-opacity: 1;
  color: rgba(0,0,0,var(--text-opacity))
}
.text-white {
  --text-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity))
}
.text-positive-dark {
  --text-opacity: 1;
  color: rgba(11,92,5,var(--text-opacity))
}
.text-negative-dark {
  --text-opacity: 1;
  color: rgba(138,7,0,var(--text-opacity))
}
.text-mono-300 {
  --text-opacity: 1;
  color: rgba(216,216,216,var(--text-opacity))
}
.text-mono-500 {
  --text-opacity: 1;
  color: rgba(140,140,140,var(--text-opacity))
}
.text-mono-700 {
  --text-opacity: 1;
  color: rgba(64,64,64,var(--text-opacity))
}
.text-mono-900 {
  --text-opacity: 1;
  color: rgba(13,13,13,var(--text-opacity))
}
.text-primary {
  --text-opacity: 1;
  color: rgba(129,32,76,var(--text-opacity))
}
.text-primary-dark {
  --text-opacity: 1;
  color: rgba(80,0,36,var(--text-opacity))
}
.text-secondary {
  --text-opacity: 1;
  color: rgba(143,210,244,var(--text-opacity))
}
.italic {
  font-style: italic
}
.uppercase {
  text-transform: uppercase
}
.capitalize {
  text-transform: capitalize
}
.focus\:underline:focus,
.hover\:underline:hover,
.underline {
  text-decoration: underline
}
.tracking-tighter {
  letter-spacing: -.05em
}
.tracking-normal {
  letter-spacing: 0
}
.visible {
  visibility: visible
}
.invisible {
  visibility: hidden
}
.truncate,
.whitespace-no-wrap {
  white-space: nowrap
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis
}
.w-0 {
  width: 0
}
.w-2 {
  width: .5rem
}
.w-3 {
  width: .75rem
}
.w-4 {
  width: 1rem
}
.w-5 {
  width: 1.25rem
}
.w-6 {
  width: 1.5rem
}
.w-8 {
  width: 2rem
}
.w-10 {
  width: 2.5rem
}
.w-12 {
  width: 3rem
}
.w-16 {
  width: 4rem
}
.w-18 {
  width: 4.5rem
}
.w-20 {
  width: 5rem
}
.w-24 {
  width: 6rem
}
.w-32 {
  width: 8rem
}
.w-40 {
  width: 10rem
}
.w-48 {
  width: 12rem
}
.w-56 {
  width: 14rem
}
.w-64 {
  width: 16rem
}
.w-80 {
  width: 20rem
}
.w-160 {
  width: 40rem
}
.w-auto {
  width: auto
}
.w-1\/2 {
  width: 50%
}
.w-1\/3 {
  width: 33.3333%
}
.w-2\/3 {
  width: 66.6667%
}
.w-full {
  width: 100%
}
.w-screen {
  width: 100vw
}
.z-0 {
  z-index: 0
}
.z-1 {
  z-index: 1
}
.z-2 {
  z-index: 2
}
.z-10 {
  z-index: 10
}
.z-20 {
  z-index: 20
}
.z-30 {
  z-index: 30
}
.z-40 {
  z-index: 40
}
.z-50 {
  z-index: 50
}
.-z-1 {
  z-index: -1
}
.gap-2 {
  gap: 0.5rem
}
.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0px,1fr))
}
.transform {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
}
.origin-center {
  transform-origin: center center
}
.scale-110 {
  --transform-scale-x: 1.1;
  --transform-scale-y: 1.1
}
.rotate-45 {
  --transform-rotate: 45deg
}
.rotate-180 {
  --transform-rotate: 180deg
}
.-rotate-45 {
  --transform-rotate: -45deg
}
.transition-all {
  transition-property: all
}
.transition {
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform
}
.transition-transform {
  transition-property: transform
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}
.duration-150 {
  transition-duration: .15s
}
.duration-200 {
  transition-duration: .2s
}
.duration-500 {
  transition-duration: .5s
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(1turn)
  }
}
@keyframes spin {
  100% {
    transform: rotate(1turn)
  }
}
@-webkit-keyframes ping {
  100%,
  75% {
    transform: scale(2);
    opacity: 0
  }
}
@keyframes ping {
  100%,
  75% {
    transform: scale(2);
    opacity: 0
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: .5
  }
}
@keyframes pulse {
  50% {
    opacity: .5
  }
}
@-webkit-keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1)
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1)
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1)
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1)
  }
}
.text-headline-1 {
  font-size: calc(var(--fluid-bp)*1*2.125 + 2.125rem)
}
.text-headline-2 {
  font-size: calc(var(--fluid-bp)*1*1.75 + 1.75rem)
}
.text-headline-3 {
  font-size: calc(var(--fluid-bp)*.5*1.5 + 1.5rem)
}
.text-headline-4 {
  font-size: calc(var(--fluid-bp)*.4*1.25 + 1.25rem)
}
.text-subtitle {
  font-size: calc(var(--fluid-bp)*.4*1.125 + 1.125rem)
}
.text-body-1 {
  font-size: calc(var(--fluid-bp)*.2*1 + 1rem)
}
.text-body-2 {
  font-size: calc(var(--fluid-bp)*.2*.875 + .875rem)
}
.text-caption {
  font-size: calc(var(--fluid-bp)*.2*.75 + .75rem)
}
.text-tiny {
  font-size: calc(var(--fluid-bp)*0*.625 + .625rem)
}
.mb-4_s-1\/2 {
  margin-bottom: calc(var(--fluid-bp)*-.5*1 + 1rem)
}
.mb-6_s-1\/2 {
  margin-bottom: calc(var(--fluid-bp)*-.5*1.5 + 1.5rem)
}
.h-40_s-11\/10 {
  height: calc(var(--fluid-bp)*0.1*10 + 10rem)
}
.h-132_s-11\/10 {
  height: calc(var(--fluid-bp)*0.1*33 + 33rem)
}
.px-3_s-4\/3 {
  padding-left: calc(var(--fluid-bp)*0.33333*0.75 + 0.75rem);
  padding-right: calc(var(--fluid-bp)*0.33333*0.75 + 0.75rem)
}
.h-4_s-4\/3 {
  height: calc(var(--fluid-bp)*0.33333*1 + 1rem)
}
.mr-4_s-4\/3 {
  margin-right: calc(var(--fluid-bp)*.33333*1 + 1rem)
}
.mb-6_s-4\/3 {
  margin-bottom: calc(var(--fluid-bp)*.33333*1.5 + 1.5rem)
}
.pt-6_s-4\/3 {
  padding-top: calc(var(--fluid-bp)*0.33333*1.5 + 1.5rem)
}
.pb-6_s-4\/3 {
  padding-bottom: calc(var(--fluid-bp)*0.33333*1.5 + 1.5rem)
}
.pb-8_s-4\/3 {
  padding-bottom: calc(var(--fluid-bp)*0.33333*2 + 2rem)
}
.h-9_s-4\/3 {
  height: calc(var(--fluid-bp)*0.33333*2.25 + 2.25rem)
}
.w-14_s-4\/3 {
  width: calc(var(--fluid-bp)*.33333*3.5 + 3.5rem)
}
.h-100_s-4\/3 {
  height: calc(var(--fluid-bp)*0.33333*25 + 25rem)
}
.py-1_s-3\/2 {
  padding-top: calc(var(--fluid-bp)*0.5*0.25 + 0.25rem);
  padding-bottom: calc(var(--fluid-bp)*0.5*0.25 + 0.25rem)
}
.py-2_s-3\/2 {
  padding-top: calc(var(--fluid-bp)*0.5*0.5 + 0.5rem);
  padding-bottom: calc(var(--fluid-bp)*0.5*0.5 + 0.5rem)
}
.mb-3_s-3\/2 {
  margin-bottom: calc(var(--fluid-bp)*.5*.75 + .75rem)
}
.mt-4_s-3\/2 {
  margin-top: calc(var(--fluid-bp)*.5*1 + 1rem)
}
.mb-4_s-3\/2 {
  margin-bottom: calc(var(--fluid-bp)*.5*1 + 1rem)
}
.mr-4_s-3\/2 {
  margin-right: calc(var(--fluid-bp)*.5*1 + 1rem)
}
.pt-4_s-3\/2,
.py-4_s-3\/2 {
  padding-top: calc(var(--fluid-bp)*0.5*1 + 1rem)
}
.py-4_s-3\/2 {
  padding-bottom: calc(var(--fluid-bp)*0.5*1 + 1rem)
}
.w-18_s-7\/4 {
  width: calc(var(--fluid-bp)*.75*4.5 + 4.5rem)
}
.pt-40_s-7\/4 {
  padding-top: calc(var(--fluid-bp)*0.75*10 + 10rem)
}
.h-1_s-2 {
  height: calc(var(--fluid-bp)*1*0.25 + 0.25rem)
}
.mt-1_s-2 {
  margin-top: calc(var(--fluid-bp)*1*.25 + .25rem)
}
.p-1_s-2 {
  padding: calc(var(--fluid-bp)*1*.25 + .25rem)
}
.px-1_s-2 {
  padding-left: calc(var(--fluid-bp)*1*0.25 + 0.25rem);
  padding-right: calc(var(--fluid-bp)*1*0.25 + 0.25rem)
}
.mt-2_s-2 {
  margin-top: calc(var(--fluid-bp)*1*.5 + .5rem)
}
.ml-2_s-2 {
  margin-left: calc(var(--fluid-bp)*1*.5 + .5rem)
}
.mb-2_s-2 {
  margin-bottom: calc(var(--fluid-bp)*1*.5 + .5rem)
}
.mr-2_s-2,
.mx-2_s-2 {
  margin-right: calc(var(--fluid-bp)*1*.5 + .5rem)
}
.mx-2_s-2 {
  margin-left: calc(var(--fluid-bp)*1*.5 + .5rem)
}
.p-2_s-2 {
  padding: calc(var(--fluid-bp)*1*.5 + .5rem)
}
.pt-2_s-2,
.py-2_s-2 {
  padding-top: calc(var(--fluid-bp)*1*0.5 + 0.5rem)
}
.py-2_s-2 {
  padding-bottom: calc(var(--fluid-bp)*1*0.5 + 0.5rem)
}
.px-2_s-2 {
  padding-left: calc(var(--fluid-bp)*1*0.5 + 0.5rem);
  padding-right: calc(var(--fluid-bp)*1*0.5 + 0.5rem)
}
.mt-3_s-2 {
  margin-top: calc(var(--fluid-bp)*1*.75 + .75rem)
}
.ml-3_s-2 {
  margin-left: calc(var(--fluid-bp)*1*.75 + .75rem)
}
.mr-3_s-2 {
  margin-right: calc(var(--fluid-bp)*1*.75 + .75rem)
}
.p-3_s-2 {
  padding: calc(var(--fluid-bp)*1*.75 + .75rem)
}
.mb-4_s-2 {
  margin-bottom: calc(var(--fluid-bp)*1*1 + 1rem)
}
.px-4_s-2 {
  padding-left: calc(var(--fluid-bp)*1*1 + 1rem);
  padding-right: calc(var(--fluid-bp)*1*1 + 1rem)
}
.ml-5_s-2 {
  margin-left: calc(var(--fluid-bp)*1*1.25 + 1.25rem)
}
.mb-5_s-2 {
  margin-bottom: calc(var(--fluid-bp)*1*1.25 + 1.25rem)
}
.mr-5_s-2 {
  margin-right: calc(var(--fluid-bp)*1*1.25 + 1.25rem)
}
.pb-5_s-2 {
  padding-bottom: calc(var(--fluid-bp)*1*1.25 + 1.25rem)
}
.mt-6_s-2 {
  margin-top: calc(var(--fluid-bp)*1*1.5 + 1.5rem)
}
.mb-6_s-2 {
  margin-bottom: calc(var(--fluid-bp)*1*1.5 + 1.5rem)
}
.pt-6_s-2 {
  padding-top: calc(var(--fluid-bp)*1*1.5 + 1.5rem)
}
.h-10_s-2 {
  height: calc(var(--fluid-bp)*1*2.5 + 2.5rem)
}
.pt-10_s-2 {
  padding-top: calc(var(--fluid-bp)*1*2.5 + 2.5rem)
}
.pb-10_s-2 {
  padding-bottom: calc(var(--fluid-bp)*1*2.5 + 2.5rem)
}
.pt-16_s-2 {
  padding-top: calc(var(--fluid-bp)*1*4 + 4rem)
}
.w-64_s-2 {
  width: calc(var(--fluid-bp)*1*16 + 16rem)
}
.pt-4_s-5\/2 {
  padding-top: calc(var(--fluid-bp)*1.5*1 + 1rem)
}
.mb-6_s-5\/2 {
  margin-bottom: calc(var(--fluid-bp)*1.5*1.5 + 1.5rem)
}
.pb-6_s-5\/2 {
  padding-bottom: calc(var(--fluid-bp)*1.5*1.5 + 1.5rem)
}
.mb-2_s-3 {
  margin-bottom: calc(var(--fluid-bp)*2*.5 + .5rem)
}
.pl-2_s-3 {
  padding-left: calc(var(--fluid-bp)*2*0.5 + 0.5rem)
}
.pr-2_s-3 {
  padding-right: calc(var(--fluid-bp)*2*0.5 + 0.5rem)
}
.pb-4_s-3 {
  padding-bottom: calc(var(--fluid-bp)*2*1 + 1rem)
}
.py-16_s-3 {
  padding-top: calc(var(--fluid-bp)*2*4 + 4rem);
  padding-bottom: calc(var(--fluid-bp)*2*4 + 4rem)
}
.pb-6_s-10\/3 {
  padding-bottom: calc(var(--fluid-bp)*2.33333*1.5 + 1.5rem)
}
.p-2_s-4 {
  padding: calc(var(--fluid-bp)*3*.5 + .5rem)
}
.px-4_s-4 {
  padding-left: calc(var(--fluid-bp)*3*1 + 1rem);
  padding-right: calc(var(--fluid-bp)*3*1 + 1rem)
}
.mr-2px_s-4 {
  margin-right: calc(var(--fluid-bp)*3*.125 + .125rem)
}
.p-2px_s-4 {
  padding: calc(var(--fluid-bp)*3*.125 + .125rem)
}
.pt-4_s-5 {
  padding-top: calc(var(--fluid-bp)*4*1 + 1rem)
}
.shadow-outline-positive {
  box-shadow: #4cd964 0 0 0 2px
}
.shadow-outline-negative {
  box-shadow: #ff3b30 0 0 0 2px
}
.bggb-primary-dark {
  background-image: linear-gradient(#81204c,#500024)
}
.bggb-primary {
  background-image: linear-gradient(transparent,#81204c)
}
.bggr-mono {
  background-image: linear-gradient(90deg,transparent,#0d0d0d)
}
.bggl-mono {
  background-image: linear-gradient(270deg,transparent,#0d0d0d)
}
.bggt-mono {
  background-image: linear-gradient(0deg,transparent,#0d0d0d)
}
.bggb-mono {
  background-image: linear-gradient(transparent,#0d0d0d)
}
@font-face {
  font-family: roboto;
  src: url("/_nuxt/fonts/Roboto-Black.ec4c996.ttf");
  font-weight: 900
}
@font-face {
  font-family: roboto;
  src: url("/_nuxt/fonts/Roboto-Bold.ee7b96f.ttf");
  font-weight: 700
}
@font-face {
  font-family: roboto;
  src: url("/_nuxt/fonts/Roboto-Regular.3e1af3e.ttf")
}
.o-content-block-text * {
  margin-bottom: 1rem
}
.o-content-block-text h1 {
  font-size: calc(var(--fluid-bp)*1*2.125 + 2.125rem)
}
.o-content-block-text h2 {
  font-size: calc(var(--fluid-bp)*1*1.75 + 1.75rem)
}
.o-content-block-text h3 {
  font-size: calc(var(--fluid-bp)*.5*1.5 + 1.5rem)
}
.o-content-block-text h4 {
  font-size: calc(var(--fluid-bp)*.4*1.25 + 1.25rem)
}
.o-content-block-text h5 {
  font-size: calc(var(--fluid-bp)*.4*1.125 + 1.125rem)
}
.o-content-block-text p {
  font-size: calc(var(--fluid-bp)*.2*1 + 1rem)
}
.o-content-block-text ul {
  list-style-type: disc;
  list-style-position: inside
}
.o-content-block-text ol {
  list-style-type: decimal;
  list-style-position: inside
}
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1440;
  --fluid-screen: 100vw;
  --fluid-bp: calc(var(--fluid-screen)/70 - 0.28571rem)
}
@media screen and (min-width:1440px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width)*1px)
  }
}
html {
  font-family: roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased
}
img,
video {
  flex-shrink: 0
}
.o-content-hero_background {
  background-image: url("/_nuxt/img/clarets-plus-bg.dfeadf6.svg");
  background-position: center top;
  --bg-opacity: 1;
  background-color: rgba(13,13,13,var(--bg-opacity))
}
@media (min-width:1280px) {
  .container,
  .lg\:container,
  .sm\:container {
    max-width: 1024px!important
  }
}
.force-o-link-white .o-link {
  --text-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity))
}
@media (min-width:640px) {
  .sm\:container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
  }
}
@media (min-width:640px) {
  .sm\:container {
    max-width: 640px
  }
}
@media (min-width:640px) and (min-width:768px) {
  .sm\:container {
    max-width: 768px
  }
}
@media (min-width:1024px) and (min-width:640px) {
  .sm\:container {
    max-width: 1024px
  }
}
@media (min-width:1280px) and (min-width:640px) {
  .sm\:container {
    max-width: 1280px
  }
}
@media (min-width:640px) {
  .sm\:border-0 {
    border-width: 0
  }
  .sm\:block {
    display: block
  }
  .sm\:flex {
    display: flex
  }
  .sm\:hidden {
    display: none
  }
  .sm\:flex-row {
    flex-direction: row
  }
  .sm\:flex-wrap {
    flex-wrap: wrap
  }
  .sm\:h-6 {
    height: 1.5rem
  }
  .sm\:h-12 {
    height: 3rem
  }
  .sm\:h-48 {
    height: 12rem
  }
  .sm\:h-full {
    height: 100%
  }
  .sm\:m-0 {
    margin: 0
  }
  .sm\:-mx-1 {
    margin-left: -.25rem;
    margin-right: -.25rem
  }
  .sm\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem
  }
  .sm\:pl-0 {
    padding-left: 0px
  }
  .sm\:absolute {
    position: absolute
  }
  .sm\:bottom-0 {
    bottom: 0
  }
  .sm\:w-4 {
    width: 1rem
  }
  .sm\:w-12 {
    width: 3rem
  }
  .sm\:w-80 {
    width: 20rem
  }
  .sm\:w-1\/2 {
    width: 50%
  }
  .sm\:w-1\/3 {
    width: 33.3333%
  }
  .sm\:w-1\/4 {
    width: 25%
  }
  .sm\:w-1\/5 {
    width: 20%
  }
  .sm\:w-full {
    width: 100%
  }
  .sm\:gap-4 {
    gap: 1rem
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0px,1fr))
  }
}
@media (min-width:768px) {
  .md\:bg-opacity-75 {
    --bg-opacity: 0.75
  }
  .md\:border-l-0 {
    border-left-width: 0
  }
  .md\:block {
    display: block
  }
  .md\:inline {
    display: inline
  }
  .md\:flex {
    display: flex
  }
  .md\:hidden {
    display: none
  }
  .md\:flex-row {
    flex-direction: row
  }
  .md\:flex-row-reverse {
    flex-direction: row-reverse
  }
  .md\:justify-start {
    justify-content: flex-start
  }
  .md\:justify-end {
    justify-content: flex-end
  }
  .md\:justify-center {
    justify-content: center
  }
  .md\:flex-none {
    flex: 0 0 auto
  }
  .md\:h-64 {
    height: 16rem
  }
  .md\:h-auto {
    height: auto
  }
  .md\:my-auto {
    margin-top: auto;
    margin-bottom: auto
  }
  .md\:-mx-2 {
    margin-left: -.5rem;
    margin-right: -.5rem
  }
  .md\:mb-0 {
    margin-bottom: 0
  }
  .md\:mr-2 {
    margin-right: .5rem
  }
  .md\:ml-2 {
    margin-left: .5rem
  }
  .md\:mr-3 {
    margin-right: .75rem
  }
  .md\:mr-4 {
    margin-right: 1rem
  }
  .md\:mr-5 {
    margin-right: 1.25rem
  }
  .md\:-mt-8 {
    margin-top: -2rem
  }
  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem
  }
  .md\:pl-0 {
    padding-left: 0px
  }
  .md\:pt-6 {
    padding-top: 1.5rem
  }
  .md\:pb-16 {
    padding-bottom: 4rem
  }
  .md\:absolute {
    position: absolute
  }
  .md\:bottom-0 {
    bottom: 0
  }
  .md\:shadow-25 {
    box-shadow: rgba(155,155,155,.25) 0 6px 12px 0
  }
  .md\:shadow-50 {
    box-shadow: rgba(155,155,155,.5) 0 6px 12px 0
  }
  .md\:w-8 {
    width: 2rem
  }
  .md\:w-auto {
    width: auto
  }
  .md\:w-1\/2 {
    width: 50%
  }
  .md\:w-1\/3 {
    width: 33.3333%
  }
  .md\:w-2\/3 {
    width: 66.6667%
  }
  .md\:w-1\/4 {
    width: 25%
  }
  .md\:w-1\/6 {
    width: 16.6667%
  }
  .md\:w-5\/6 {
    width: 83.3333%
  }
}
@media (min-width:1024px) {
  .lg\:container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem
  }
}
@media (min-width:1024px) and (min-width:640px) {
  .lg\:container {
    max-width: 640px
  }
}
@media (min-width:1024px) and (min-width:768px) {
  .lg\:container {
    max-width: 768px
  }
}
@media (min-width:1024px) {
  .lg\:container {
    max-width: 1024px
  }
}
@media (min-width:1024px) and (min-width:1280px) {
  .lg\:container {
    max-width: 1280px
  }
}
@media (min-width:1024px) {
  .lg\:border-t-2 {
    border-top-width: 2px
  }
  .lg\:border-b-2 {
    border-bottom-width: 2px
  }
  .lg\:block {
    display: block
  }
  .lg\:flex {
    display: flex
  }
  .lg\:hidden {
    display: none
  }
  .lg\:flex-row {
    flex-direction: row
  }
  .lg\:flex-row-reverse {
    flex-direction: row-reverse
  }
  .lg\:items-start {
    align-items: flex-start
  }
  .lg\:items-end {
    align-items: flex-end
  }
  .lg\:justify-start {
    justify-content: flex-start
  }
  .lg\:justify-between {
    justify-content: space-between
  }
  .lg\:m-0 {
    margin: 0
  }
  .lg\:-mx-2 {
    margin-left: -.5rem;
    margin-right: -.5rem
  }
  .lg\:mt-0 {
    margin-top: 0
  }
  .lg\:mb-0 {
    margin-bottom: 0
  }
  .lg\:mr-1 {
    margin-right: .25rem
  }
  .lg\:ml-1 {
    margin-left: .25rem
  }
  .lg\:mr-2 {
    margin-right: .5rem
  }
  .lg\:mb-2 {
    margin-bottom: .5rem
  }
  .lg\:ml-2 {
    margin-left: .5rem
  }
  .lg\:mr-4 {
    margin-right: 1rem
  }
  .lg\:ml-4 {
    margin-left: 1rem
  }
  .lg\:-mt-20 {
    margin-top: -5rem
  }
  .lg\:-mt-40 {
    margin-top: -10rem
  }
  .lg\:-mt-48 {
    margin-top: -12rem
  }
  .lg\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
  }
  .lg\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem
  }
  .lg\:pt-0 {
    padding-top: 0px
  }
  .lg\:pt-14 {
    padding-top: 3.5rem
  }
  .lg\:absolute {
    position: absolute
  }
  .lg\:left-auto {
    left: auto
  }
  .lg\:shadow-50 {
    box-shadow: rgba(155,155,155,.5) 0 6px 12px 0
  }
  .lg\:text-left {
    text-align: left
  }
  .lg\:text-right {
    text-align: right
  }
  .lg\:align-text-top {
    vertical-align: text-top
  }
  .lg\:w-20 {
    width: 5rem
  }
  .lg\:w-auto {
    width: auto
  }
  .lg\:w-1\/2 {
    width: 50%
  }
  .lg\:w-1\/3 {
    width: 33.3333%
  }
  .lg\:w-2\/3 {
    width: 66.6667%
  }
  .lg\:w-1\/4 {
    width: 25%
  }
  .lg\:w-1\/5 {
    width: 20%
  }
  .lg\:w-1\/6 {
    width: 16.6667%
  }
  .lg\:ml-20_s-2 {
    margin-left: calc(var(--fluid-bp)*1*5 + 5rem)
  }
}
@media (min-width:1280px) {
  .xl\:block {
    display: block
  }
  .xl\:flex {
    display: flex
  }
  .xl\:hidden {
    display: none
  }
  .xl\:font-step-2 {
    font-weight: 700
  }
  .xl\:h-full {
    height: 100%
  }
  .xl\:leading-none {
    line-height: 1
  }
  .xl\:-mx-32 {
    margin-left: -8rem;
    margin-right: -8rem
  }
  .xl\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px
  }
  .xl\:pl-0 {
    padding-left: 0px
  }
  .xl\:pr-4 {
    padding-right: 1rem
  }
  .xl\:pt-32 {
    padding-top: 8rem
  }
  .xl\:pl-56 {
    padding-left: 14rem
  }
  .xl\:w-160 {
    width: 40rem
  }
  .xl\:w-1\/6 {
    width: 16.6667%
  }
}
.alert-container[data-v-cd449eaa] {
  z-index: 9999;
  width: calc(100% - 2rem);
  left: 1rem;
  top: 9rem;
  display: block;
  position: fixed;
  pointer-events: none
}
@media (min-width:640px) {
  .alert-container[data-v-cd449eaa] {
    width: 600px;
    left: calc(50% - 300px)
  }
}
@media (min-width:768px) {
  .alert-container[data-v-cd449eaa] {
    width: 700px;
    left: calc(50% - 350px)
  }
}
@media (min-width:1280px) {
  .alert-container[data-v-cd449eaa] {
    top: 11rem
  }
}
.list-leave-active[data-v-cd449eaa] {
  transition: all .3s ease 0s
}
.list-leave-to[data-v-cd449eaa] {
  opacity: 0;
  transform: translate3d(0,100%,0) scaleY(1.2)
}
.o-pulse[data-v-22a13946] {
  position: relative;
  width: .75rem;
  height: 0.75rem
}
.o-pulse[data-v-22a13946],
.o-pulse[data-v-22a13946]::after {
  background-color: var(--o-pulse-color);
  border-radius: 9999px
}
.o-pulse[data-v-22a13946]::after {
  content: "";
  top: 3px;
  left: 3px;
  height: 6px;
  width: 6px;
  animation: 2s ease 0s infinite normal none running pulse-data-v-22a13946;
  position: absolute;
  transform-origin: center center
}
@-webkit-keyframes pulse-data-v-22a13946 {
  0% {
    transform: scale(1);
    opacity: 1
  }
  25% {
    transform: scale(1);
    opacity: 1
  }
  100% {
    transform: scale(4.5);
    opacity: 0
  }
}
@keyframes pulse-data-v-22a13946 {
  0% {
    transform: scale(1);
    opacity: 1
  }
  25% {
    transform: scale(1);
    opacity: 1
  }
  100% {
    transform: scale(4.5);
    opacity: 0
  }
}
.o-card:hover .o-card-image[data-v-11da87d2] {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-scale-x: 1.1;
  --transform-scale-y: 1.1
}
.o-card-image[data-v-11da87d2] {
  height: 100%;
  width: 100%;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1)
}
.responsive-card-image[data-v-11da87d2],
.vertical-card-image[data-v-11da87d2] {
  padding-bottom: 56.25%
}
.responsive-card-image .o-card-image[data-v-11da87d2],
.vertical-card-image .o-card-image[data-v-11da87d2] {
  position: absolute
}
.horizontal-card-image[data-v-11da87d2] {
  width: 33.3333%;
  display: flex;
  align-items: center
}
.horizontal-card-image .o-card-image[data-v-11da87d2] {
  height: auto
}
@media (min-width:640px) {
  .responsive-card-image[data-v-11da87d2] {
    padding-bottom: 0px;
    width: 33.3333%;
    display: flex;
    align-items: center
  }
  .responsive-card-image .o-card-image[data-v-11da87d2] {
    height: auto;
    position: relative
  }
}
.o-hamburger[data-v-1d7ff91e] {
  width: 20px;
  height: 12px;
  position: relative;
  transform: rotate(0)
}
.o-hamburger span[data-v-1d7ff91e] {
  display: block;
  position: absolute;
  height: 20%;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: all .25s ease-in-out 0s;
  transform-origin: left center
}
.o-hamburger span[data-v-1d7ff91e]:first-child {
  top: 0
}
.o-hamburger span[data-v-1d7ff91e]:nth-child(2) {
  top: 40%
}
.o-hamburger span[data-v-1d7ff91e]:nth-child(3) {
  top: 80%
}
.o-hamburger-active span[data-v-1d7ff91e]:first-child {
  transform: rotate(45deg);
  top: 0;
  left: 2px
}
.o-hamburger-active span[data-v-1d7ff91e]:nth-child(2) {
  width: 0;
  opacity: 0
}
.o-hamburger-active span[data-v-1d7ff91e]:nth-child(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 2px
}
[data-v-6e0c58e9] {
  will-change: height;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px
}
.expand-leave-active {
  transition: height .15s ease-in-out 0s;
  overflow: hidden
}
.expand-leave-to {
  height: 0
}
.o-swiper[data-v-10d9b562] {
  position: relative;
  width: 100%;
  overflow: hidden
}
.visible-important[data-v-10d9b562] {
  overflow: visible!important
}
.swiper-slide[data-v-10d9b562] {
  height: auto;
  display: flex
}
.swiper-button-next[data-v-10d9b562],
.swiper-button-prev[data-v-10d9b562] {
  width: var(--swiper-navigation-size);
  display: none
}
.swiper-button-next[data-v-10d9b562]::after,
.swiper-button-prev[data-v-10d9b562]::after {
  content: ""
}
@media (min-width:768px) {
  .swiper-button-next[data-v-10d9b562],
  .swiper-button-prev[data-v-10d9b562] {
    display: flex
  }
  .o-swiper[data-v-10d9b562] {
    padding: 0 calc(var(--swiper-navigation-size) + 1.5rem)
  }
}
.o-swiper-pagination[data-v-10d9b562] {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  justify-content: center
}
.o-swiper-pagination[data-v-10d9b562] .swiper-pagination-bullet {
  --bg-opacity: 1;
  background-color: rgba(216,216,216,var(--bg-opacity));
  opacity: 1;
  border-radius: 0px;
  width: 100%;
  margin-left: .25rem;
  margin-right: .25rem;
  max-width: 6.25rem
}
.o-swiper-pagination-primary[data-v-10d9b562] .swiper-pagination-bullet-active {
  --bg-opacity: 1;
  background-color: rgba(129,32,76,var(--bg-opacity))
}
.o-swiper-pagination-secondary[data-v-10d9b562] .swiper-pagination-bullet-active {
  --bg-opacity: 1;
  background-color: rgba(143,210,244,var(--bg-opacity))
}
.home-online-shop[data-v-d48c2220] {
  background-image: url("/_nuxt/img/footer-pattern.eac820b.svg");
  background-size: 50rem;
  background-position: center top;
  --bg-opacity: 1;
  background-color: rgba(129,32,76,var(--bg-opacity))
}
.o-footer[data-v-3614bd4d] {
  background-image: url("/_nuxt/img/footer-pattern.eac820b.svg");
  background-size: 50rem;
  background-position: center top;
  --bg-opacity: 1;
  background-color: rgba(129,32,76,var(--bg-opacity))
}
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal
}
:root {
  --swiper-theme-color: #007aff
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1
}
.swiper-wrapper {
  z-index: 1;
  display: flex;
  box-sizing: content-box;
  transform: translateZ(0)
}
.swiper-slide,
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: transform
}
.swiper-slide {
  flex-shrink: 0
}
:root {
  --swiper-navigation-size: 44px
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size)/44*27);
  height: var(--swiper-navigation-size);
  margin-top: calc(var(--swiper-navigation-size)*-1/2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color,var(--swiper-theme-color))
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  letter-spacing: 0;
  font-variant: normal;
  line-height: 1;
  text-transform: none!important
}
.swiper-button-prev {
  left: 10px;
  right: auto
}
.swiper-button-prev::after {
  content: "prev"
}
.swiper-button-next {
  right: 10px;
  left: auto
}
.swiper-button-next::after {
  content: "next"
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color,var(--swiper-theme-color))
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    transform: rotate(1turn)
  }
}
@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(1turn)
  }
}
.o-match-row-hover[data-v-09e94c0c] {
  display: none
}
@media (min-width:1024px) {
  .o-match-row[data-v-09e94c0c]:hover {
    --bg-opacity: 1;
    background-color: rgba(216,216,216,var(--bg-opacity))
  }
  .o-match-row:hover .o-match-row-content[data-v-09e94c0c] {
    filter: blur(5px);
    opacity: .15
  }
  .o-match-row:hover .o-match-row-hover[data-v-09e94c0c] {
    display: flex
  }
}
td[data-v-f3f90b36],
th[data-v-f3f90b36] {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}
.o-tooltip[data-v-376a4660] {
  box-shadow: rgba(0,0,0,.2) 0 6px 12px 0;
  --bg-opacity: 1;
  background-color: rgba(129,32,76,var(--bg-opacity))
}
.o-tooltip-arrow[data-v-376a4660],
.o-tooltip-arrow[data-v-376a4660]::before {
  z-index: -1;
  position: absolute;
  width: .5rem;
  height: 0.5rem
}
.o-tooltip-arrow[data-v-376a4660]::before {
  content: "";
  --bg-opacity: 1;
  background-color: rgba(129,32,76,var(--bg-opacity));
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  --transform-rotate: 45deg
}
.o-tooltip[data-popper-placement^=top] > .o-tooltip-arrow[data-v-376a4660] {
  bottom: -.25rem
}
.o-tooltip[data-popper-placement^=bottom] > .o-tooltip-arrow[data-v-376a4660] {
  top: -.25rem
}
.o-tooltip[data-popper-placement^=left] > .o-tooltip-arrow[data-v-376a4660] {
  right: -.25rem
}
.o-tooltip[data-popper-placement^=right] > .o-tooltip-arrow[data-v-376a4660] {
  left: -.25rem
}
tr td[data-v-33913232],
tr th[data-v-33913232] {
  background-color: inherit;
  white-space: nowrap
}
.highlight[data-v-33913232] {
  background-color: #8fd2f4!important
}
table thead tr[data-v-643865dc] {
  --bg-opacity: 1;
  background-color: rgba(129,32,76,var(--bg-opacity));
  --text-opacity: 1;
  color: rgba(255,255,255,var(--text-opacity));
  font-size: calc(var(--fluid-bp)*.2*1 + 1rem);
  font-weight: 700;
  height: 3rem
}
table tbody tr[data-v-643865dc] {
  height: 4rem
}
table.sticky-col-one tr[data-v-643865dc] :nth-of-type(-n+1),
table.sticky-col-two tr[data-v-643865dc] > :nth-of-type(-n+2) {
  position: sticky;
  left: 0
}
table.sticky-col-one tbody tr[data-v-643865dc] > :nth-of-type(-n+1),
table.sticky-col-two tbody tr[data-v-643865dc] > :nth-of-type(-n+2) {
  box-shadow: #d8d8d8 2px 0 1px -1px
}
@media (min-width:640px) {
  table.sticky-col-one tbody tr[data-v-643865dc] > :nth-of-type(-n+1),
  table.sticky-col-two tbody tr[data-v-643865dc] > :nth-of-type(-n+2) {
    box-shadow: none
  }
}
table.mono-row-even tbody tr[data-v-643865dc]:nth-of-type(2n),
table.mono-row-odd tbody tr[data-v-643865dc]:nth-of-type(2n+1) {
  --bg-opacity: 1;
  background-color: rgba(242,242,242,var(--bg-opacity))
}
table.mono-row-even tbody tr[data-v-643865dc]:nth-of-type(2n+1),
table.mono-row-none tbody tr[data-v-643865dc],
table.mono-row-odd tbody tr[data-v-643865dc]:nth-of-type(2n) {
  --bg-opacity: 1;
  background-color: rgba(255,255,255,var(--bg-opacity))
}