$mq-alpha: 750px;
$mq-beta: 751px;

:root {
  --ff-alpha: 'Barlow', sans-serif;
  --fz-alpha: 18px;
  --fz-beta: 15px;
  --color-alpha: hsl(222deg 88% 55%);
  --color-alpha2: hsl(222deg 88% 55% / .02);
  --color-alpha3: hsl(222deg 88% 55% / .2);
  --color-alpha4: hsl(222deg 88% 45%);
  --color-beta: hsl(222deg 88% 11%);
  --color-beta2: hsl(222deg 88% 11% / .02);
  --color-beta3: hsl(222deg 88% 11% / .2);
  --color-beta4: hsl(222deg 88% 22%);
  --color-gamma: hsl(0deg 0% 100%);
  --chart-color-alpha: hsl(157deg 88% 55%);
  --chart-color-beta: hsl(222deg 88% 55%);
  --chart-color-gamma: hsl(188deg 88% 55%);
  --chart-color-delta: hsl(3deg 88% 55%);
  --maxw-alpha: 70ch;
  --maxw-beta: 92vw;
}
