$mq-alpha: 750px;
$mq-beta: 751px;

:root {
  --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --fz-alpha: 18px;
  --fz-beta: 15px;
  --color-alpha: hsl(222, 88%, 55%);
  --color-alpha2: hsl(222deg 88% 55% / .02);
  --color-alpha3: hsl(222deg 88% 55% / .2);
  --color-alpha4: hsl(222deg 88% 45%);
  --color-beta: hsl(222deg 88% 11%);
  --color-beta2: hsl(222deg 88% 11% / .02);
  --color-beta3: hsl(222deg 88% 11% / .2);
  --color-beta4: hsl(222deg 88% 22%);
  --color-gamma: hsl(0deg 0% 100%);
  --maxw-alpha: 70ch;
  --maxw-beta: 92vw;
}
