{%- if report -%}
  <div class="table-wrapper">
    <table class="small">
      <thead>
        <tr>
          <th><b>Site</b></th>
          <th class="tar"><b>Coverage</b></th>
        </tr>
      </thead>
      <tbody>
        {%- for item in report.list -%}
          <tr>
            <td><b><a href="{{ item.site.url }}">{{ item.site.title }}</a></b></td>
            <td class="tar">{{ item.usage | round: 2 | append: '%' }}</td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{%- endif -%}
