{%- if report -%}
  <div class="table-wrapper">
    <table class="small">
      <thead>
        <tr>
          <th><b>Name</b></th>
        </tr>
      </thead>
      <tbody>
        {%- if report.warningList -%}
          {%- for item in report.warningList -%}
            <tr>
              <td>{{ item }}</td>
            </tr>
          {%- endfor -%}
        {%- endif -%}
      </tbody>
    </table>
  </div>
{%- endif -%}
