{%- if report -%}
  {%- if report.warningList -%}
    <ul>
      {%- assign warningsSorted = report.warningList | sort -%}
      {%- for item in warningsSorted -%}
        <li>{{ item | term }} - {{ item | desc }}{%- unless forloop.last -%},{%- else -%}
          .{%- endunless -%}</li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- endif -%}
