<hr>
<form action="https://tinyletter.com/cssauditors" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/cssauditors', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <label for="email">Your Email:</label>
  <input class="input" type="text" name="email" id="email" placeholder="friend@css-auditors.com" />
  <input type="hidden" value="1" name="embed"/>
  <button class="button" type="submit">Subscribe</button>
  <p><a href="https://tinyletter.com" target="_blank">Powered by TinyLetter</a></p>
</form>
