<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    img {
      display: block;
      max-width: 33vw;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <header>
    <h1>CSS Auditors</h1>
    <h2>#Respect CSS</h2>
    <p>CSS Auditors have one mission: to put the CSS under the spotlight and educate developers about its importance.</p>
    <p>From file size to usage of particular attributes and values, we try to understand ways how to improve the way CSS could and should be written.</p>
  </header>
  <main>
    <article>
      <h2>Sizes Report</h2>
      <p>In this report we are going to focus on CSS filesize. The aim of this report is to understand how much CSS code is needed to build a site.</p>
      <p>Sites audited in this report:</p>
      <ul>
        <li>
          <a href="https://www.afcb.co.uk/">AFC Bournemouth</a>
        </li>
        <li>
          <a href="https://www.arsenal.com/">Arsenal</a>
        </li>
        <li>
          <a href="https://www.avfc.co.uk/">Aston Villa FC</a>
        </li>
        <li>
          <a href="https://www.brightonandhovealbion.com/">Brighton & Hove Albion</a>
        </li>
        <li>
          <a href="https://www.burnleyfootballclub.com/">Burnley FC</a>
        </li>
        <li>
          <a href="https://www.chelseafc.com/en">Chelsea FC</a>
        </li>
        <li>
          <a href="https://www.cpfc.co.uk/">Crystal Palace FC</a>
        </li>
        <li>
          <a href="https://www.evertonfc.com/home">Everton FC</a>
        </li>
        <li>
          <a href="https://www.lcfc.com/">Leicester City</a>
        </li>
        <li>
          <a href="https://www.liverpoolfc.com/">Liverpool FC</a>
        </li>
        <li>
          <a href="https://www.mancity.com/">Manchester City FC</a>
        </li>
        <li>
          <a href="https://www.manutd.com/">Manchester United FC</a>
        </li>
        <li>
          <a href="https://www.nufc.co.uk/">Newcastle United</a>
        </li>
        <li>
          <a href="https://www.canaries.co.uk/">Norwich FC</a>
        </li>
        <li>
          <a href="https://www.sufc.co.uk/">Sheffield United FC</a>
        </li>
        <li>
          <a href="https://www.southamptonfc.com/">Southampton FC</a>
        </li>
        <li>
          <a href="https://www.tottenhamhotspur.com/">Tottenham Hotspurs</a>
        </li>
        <li>
          <a href="https://www.watfordfc.com/">Watford FC</a>
        </li>
        <li>
          <a href="https://www.whufc.com/">West Ham United FC</a>
        </li>
        <li>
          <a href="https://www.wolves.co.uk/">Wolverhampton Wanderers FC</a>
        </li>
        <li>
          <a href="https://www.brentfordfc.com/) or Fulham FC (https://www.fulhamfc.com/">Brentford FC</a>
        </li>
        <li>
          <a href="https://www.leedsunited.com/">Leeds United</a>
        </li>
        <li>
          <a href="https://www.wba.co.uk/">West Bromwich Albion</a>
        </li>
        <li>
          <a href="https://www.premierleague.com/">Premier League site</a>
        </li>
      </ul>
    </article>
    <article>
      <h2>Tools Used</h2>
      <p>To generate this report, we used the following tools:</p>
      <ul>
        <li><a href="https://github.com/jakubpawlowicz/clean-css">clean-css</a></li>
        <li><a href="https://github.com/bartveneman/extract-css-core">extract-css-code</a></li>
      </ul>
      <p>Any errors in reports that might be caused by invalid software are not deliberate and should be considered as such.</p>
    </article>
    <article>
      <h2>The Overall Report</h2>
      $htmlReportAll
    </article>
    <article>
      <h2>Single Reports</h2>
      $htmlReportSingle
    </article>
  </main>
  <footer>
    <p>&copy; 2020 CSS Auditors</p>
    <p>#RespectCSS</p>
    <p>Made with 🖤 by <a href="https://www.silvestar.codes">Silvestar Bistrović</a> and <a href="https://smodev.tech/">Ivan Smokrović</a></p>
  </footer>
</body>
</html>
