<form name="contact" method="POST" data-netlify="true">
  <label for="email">Your Email:</label>
  <input class="input" type="email" name="email" id="email" placeholder="friend-of@css-auditors.com" />
  <button class="button" type="submit">Send</button>
</form>
